
/* Stylesheet content from css/BedListPage.css in folder common */
/*#bedListD .ui-grid-a .ui-block-a{
	margin-left:6%;
	margin-top:1%;
	width: 40%
}
#bedListD .ui-grid-a .ui-block-b{
	margin-left:8%;
	margin-right:6%;
	margin-top:1%;
	width: 40%
}
#bedListD .ui-grid-b .ui-block-a{
	margin-left:3%;
	margin-top:1%;
	width: 28%;
}
#bedListD .ui-grid-b .ui-block-b{
	margin-left:5%;
	margin-top:1%;
	width: 28%
}
#bedListD .ui-grid-b .ui-block-c{
	margin-left:5%;
	margin-top:1%;
	margin-right:3%;
	width: 28%;
}*/