
/* Stylesheet content from css/InPage.css in folder common */
/*.ui-grid-d .ui-block-a{
	width: 20%;
}

.ui-grid-d .ui-block-b{
	width: 25%;
}

.ui-grid-d .ui-block-c{
	width: 20%;
}

.ui-grid-d .ui-block-d{
	width: 10%;
}

.ui-grid-d .ui-block-e{
	width: 25%;
}*/

.ui-grid-b .ui-block-a{
	width: 30%;
}

.ui-grid-b .ui-block-b{
	width: 40%;
}

.ui-grid-b .ui-block-c{
	width: 30%;
}