
/* Stylesheet content from css/NurseCountPage.css in folder common */
.ui-grid-d .ui-block-a{
	width:20%;
}

.ui-grid-d .ui-block-b{
	width:15%;
}

.ui-grid-d .ui-block-c{
	width:15%;
}

.ui-grid-d .ui-block-d{
	width:25%;
}

.ui-grid-d .ui-block-e{
	width:25%;
}