/*@media all and (min-width: 900px){
	#scanResContent {
   	 	width: 425px;
    	float: left;
   	 	margin-right: 50px;
  	}
  	#docAdContent {
  		margin: 1%;
    	width: 425px;
    	float: left;
    	margin-right: 50px;
  	}
  	#executeRecord {
  		margin: 1%;
    	width: 425px;
    	float: left;
  	}
}

@media all and (max-width:899px){
	#scanResContent {
    	width: 100%;
 	}
  	#docAdContent {
    	width: 100%;
  	}
  	#executeRecord {
    	width: 100%;
  	}
  	
}*/