/*.ui-grid-d .ui-block-a{
	width: 18%;
}

.ui-grid-d .ui-block-b{
	width: 25%;
}

.ui-grid-d .ui-block-c{
	width: 21%;
}

.ui-grid-d .ui-block-d{
	width: 11%;
}

.ui-grid-d .ui-block-e{
	width: 25%;
}*/

/*@media all and (min-width: 900px){
	#docAdContent {
   	 	width: 425px;
    	float: left;
   	 	margin-right: 50px;
  	}
  	#executeRecord {
  		margin: 1%;
    	width: 425px;
    	float: left;
  	}
}

@media all and (max-width:899px){
	#docAdContent {
    	width: 100%;
 	}
  	#executeRecord {
    	width: 100%;
  	}
}*/