
/* Stylesheet content from css/InputDetailPage.css in folder common */
/*.segmented-control { 
	text-align:center;
}

.segmented-control .ui-controlgroup {
	margin: 0.2em; 
}

.ui-control-active, .ui-control-inactive {
	border-style: solid;
	border-color: gray;
}

.ui-control-active {
	background: #BBB; 
}

.ui-control-inactive { 
	background: #DDD; 
}

.ui-grid-d .ui-block-a{
	width: 18%;
}

.ui-grid-d .ui-block-b{
	width: 25%;
}

.ui-grid-d .ui-block-c{
	width: 21%;
}

.ui-grid-d .ui-block-d{
	width: 11%;
}

.ui-grid-d .ui-block-e{
	width: 25%;
}*/