
/* Stylesheet content from css/Responsive.css in folder common */
/*@media all and (min-width: 900px){
	.firstPart {
   	 	width: 425px;
    	float: left;
   	 	margin-right: 50px;
  	}
  	.secondPart {
  		margin: 1%;
    	width: 425px;
    	float: left;
  	}
}

@media all and (max-width:899px){
	.firstPart {
    	width: 100%;
 	}
  	.secondPart {
    	width: 100%;
  	}
}*/